@import 'variables';

@import '../libs/foundation/scss/foundation/_settings';
@import '../libs/foundation/scss/foundation';
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

body, h1, h2, h3, h4, h5, h6{
    font-family: 'Josefin Slab', sans-serif;
}

.motto {
    h1 {
        font-weight: normal;
        font-size: 2em;
        padding-bottom: 1em;
    }
}


@media #{$small-up} {

}
@media #{$small-only} {
    .top-bar{
        .name h1 a{
            font-size: .6em;
        }
    }
    .motto {
        h1 {
            font-weight: normal;
            font-size: 1em;
            padding-bottom: 1em;
        }
    }
}

@media #{$medium-up} {

}
@media #{$medium-only} {

}

@media #{$large-up} {

}
@media #{$large-only} {

}

@media #{$xlarge-up} {

}
@media #{$xlarge-only} {

}

@media #{$xxlarge-up} {

}
@media #{$xxlarge-only} {

}
