$include-html-classes: true;
$include-html-global-classes: $include-html-classes;

$row-width: 100%;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$include-html-top-bar-classes: $include-html-classes;

$topbar-bg-color: $oil;
$topbar-bg: $white;

$topbar-height: 100px;
$topbar-margin-bottom: 10px;

$topbar-title-weight: $font-weight-normal;
$topbar-title-font-size: rem-calc(45);

$topbar-dropdown-bg: $white;
$topbar-dropdown-link-color: $black;

$topbar-link-color: $black;
$topbar-link-color-hover: blue;
$topbar-link-font-size: rem-calc(15);
$topbar-link-bg: $white;
$topbar-link-bg-color-hover: $white;
$topbar-link-bg-hover: $white;

$topbar-menu-link-color: $black;
$topbar-menu-icon-color: $black;

$topbar-divider-border-bottom: solid 1px  scale-color($topbar-bg-color, $lightness: 13%);
