{% extends "layouts/default.html" %}

{% block header %}
    {% include "partials/_header.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-11 columns small-centered text-center motto">
            <h1>Lorem ipsum. Lorem ipsum. Lorem ipsum.</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-11 columns small-centered large-centered">
            <ul class="small-block-grid-1 medium-block-grid-3">
                <li><img src="http://placehold.it/450x450" alt=""></li>
                <li><img src="http://placehold.it/450x450" alt=""></li>
                <li><img src="http://placehold.it/450x450" alt=""></li>
            </ul>
        </div>
    </div>
{% endblock %}
