<div class="row">
    <div class="small-12 columns">
        <div class="row header">
            <div class="large-4 medium-4 small-12 medium-uncentered columns">
                <span class="title">FOOD HOVER</span>
            </div>
            <div class="large-8 medium-8 small-12 columns text-center">
                <div class="header-links">
                    <div class="inline-list">
                        <a href="#">About Us</a>
                        <a href="#">Login</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>